.TS_heading {
  width: 100%;
  font-size: 22px;
  color: #fff;
  text-align: center;
}

.TS_main_container {
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
  color: #fff;
  gap: 20px;
}

@media (max-width: 768px) {
  .TS_heading {
    font-size: 20px;
    padding: 0 15px;
  }

  .TS_main_container {
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .TS_heading {
    font-size: 18px;
    padding: 0 10px;
  }

  .TS_main_container {
    align-items: center;
    gap: 2px;
    margin-bottom: 10px;
    margin-left: 25px;
    font-size: 12px;
  }
}
.dateselection {
  font-size: 18px;
  color: black;
  margin-top: 20px;
}
.container {
  width: 100%;
  padding: 10px; /* Adjust to control the padding around the container */
}

.container label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px; /* Smaller label font size */
}

.container input[type="date"] {
  width: 100%; /* Full width */
  height: 20px; /* Smaller height */
  padding: 3px; /* Reduced padding */
  font-size: 18px; /* Font size to fit input */
  border: 1px solid #ccc; /* Light border */
  border-radius: 4px; /* Rounded corners */
  box-sizing: border-box; /* Keep padding/border within width */
  margin-top: 3px; /* Small margin between label and input */
}
